@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .container {
    @apply 2xl:container 2xl:mx-auto 2xl:px-0 py-3 px-10;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

/* h1,
h2,
h3,
h4 {
  font-family: 'YOUR_FAMILY_HERE', sans-serif;
} */
